---
import { Image } from "astro:assets"
import standardSkinBgImg from "@/assets/standard-skin.png"
import standardArtDirectorImg from "@/assets/gallery/std-art-di.png"
import standardBeUrOwnStandardImg from "@/assets/gallery/be-ur-own-std.png"
import standardBeBoldBeUImg from "@/assets/gallery/be-bold-be-u.png"
import blumoImg from "@/assets/gallery/blumo.png"
import rollerCoasterImg from "@/assets/gallery/rc.png"
import pnpImg from "@/assets/gallery/p&p.png"
import veinsAndWiresImg from "@/assets/gallery/ovaw.png"
import sarahImg from "@/assets/gallery/sarah.png"
import { RoleDisplay } from "../role-display"

const works = [
  {
    id: 1,
    title: "Standard Skin Clinic",
    role: "Art Director",
    image: standardArtDirectorImg,
  },
  {
    id: 2,
    title: "Standard Skin Clinic",
    subtitle: "Be your own standard",
    role: "Director / DoP",
    image: standardBeUrOwnStandardImg,
  },
  {
    id: 3,
    title: "Standard Skin Clinic",
    subtitle: "Be Bold, Be You",
    role: "Director / DoP",
    image: standardBeBoldBeUImg,
  },
  {
    id: 4,
    title: "Blumo",
    role: "Photogarpher",
    image: blumoImg,
  },
  {
    id: 5,
    title: "Roller Coaster the series",
    role: "DoP",
    image: rollerCoasterImg,
  },
  {
    id: 6,
    title: "Price & Prejudice",
    subtitle: ": In Her Room",
    role: "Photographer",
    image: pnpImg,
  },
  {
    id: 7,
    title: "Of Veins and Wires",
    role: "DoP",
    image: veinsAndWiresImg,
  },
  {
    id: 8,
    title: "Official MV",
    subtitle: "หลับตาฝัน - Sarah Salola",
    role: "DoP",
    image: sarahImg,
  },
  {
    id: 9,
    title: "Standard Skin Clinic",
    subtitle: "Be your own standard",
    role: "Director / DoP",
    image: standardSkinBgImg,
  },
  {
    id: 10,
    title: "Standard Skin Clinic",
    subtitle: "Be your own standard",
    role: "Director / DoP",
    image: standardSkinBgImg,
  },
  {
    id: 11,
    title: "Standard Skin Clinic",
    subtitle: "Be Bold, Be You",
    role: "Director / DoP",
    image: standardSkinBgImg,
  },
  {
    id: 12,
    title: "Standard Skin Clinic",
    subtitle: "Be Bold, Be You",
    role: "Director / DoP",
    image: standardSkinBgImg,
  },
]
---

<section id="catalog" class="relative h-screen">
  <h2
    class="absolute top-0 left-0 flex items-center px-8 py-10 text-2xl tracking-tight"
  >
    <span class="text-3xl text-transparent select-none">ploycheeze</span>
    <RoleDisplay client:load />
  </h2>
  <div
    class="grid h-full w-full grid-cols-4 grid-rows-3 gap-x-20 gap-y-8 bg-white px-30 pt-36 pb-14"
  >
    {
      works.map((work) => (
        <div class="group mx-auto flex h-full min-h-0 w-fit max-w-full cursor-pointer flex-col justify-start space-y-2">
          <Image
            src={work.image}
            alt={work.title}
            class="aspect-2560/1600 w-full object-contain"
          />

          <div class="flex items-start justify-between text-[11px] font-normal tracking-tight text-neutral-900 sm:text-xs">
            <div class="flex flex-col">
              <span class="leading-[1.4]">{work.title}</span>
              {work.subtitle && (
                <span class="leading-[1.4]">{work.subtitle}</span>
              )}
            </div>
            <div class="text-right">
              <span class="leading-[1.4]">{work.role}</span>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
